* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.task_bar {
    background-color: #0b7181;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task_bar h1 {
    padding: 15px;
}

.task_bar h1:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.navigation > *{
    padding: 15px;
} 

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.menu_bar {
    display: none;
    position: relative;
    left: 8%;

}

.menu_bar button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.menu_bar img {
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.menu_bar img:hover {
    opacity: 100%;
    cursor: pointer;
}

.navigation > *:hover {
    background-color: rgba(240, 248, 255, 0.159);
    border-radius: 10px;
}
/* content on main page */
/***************************************************************/

.home_page {
    height: 1000px;
    background-color: #EBF4F6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.home_page .left {
    width: 50%;
    max-width: 700px;
    font-size: x-large;
}

.home_page .left > *{
    text-align: left;
    margin: 10px;   
}


.left span {
    font-size: 50px;
    color: #142661;
    font-weight: 800;
}

.talk {
    padding: 15px 50px 15px 50px;
    border-radius: 20px;
    border-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #071952;
    position: relative;
    font-size: large;
}
.talk:hover {
    background-color: #071952e2;
    cursor: pointer;
}
/***************************************************************/


/* content on about page */
/***************************************************************/

.about {
    background-color: #071952a6;
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.about .text {
    width: 40%;
    margin: 20px;
    margin-bottom: 100px;
    font-size: x-large;
}

.text span {
    color: #0000ff;
}

.text p {
    margin-top: 40px;
}


/***************************************************************/


/* floating up arrow */
/***************************************************************/

.arrow {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2%;
}

.arrow button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.arrow img {
    width: 25px;
    height: 30px;
    opacity: 30%;
}

.arrow img:hover {
    opacity: 90%;
    cursor: pointer;
} 


/***************************************************************/


/* profile img */
/***************************************************************/


.img img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.589));
}


/***************************************************************/

/* projects */
/***************************************************************/

.projects {
    background-color: #EBF4F6;
    height: 1100px;
   
}
.projects h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.flex { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 300px;
    gap: 50px;
}

.flex > * {
    background-color: #588d95c3;
    width: 28%;
    max-width: 400px;
    height: 550px;
    border-radius: 10px;
    text-align: center;
    color: #EBF4F6;
}

.flex > *:hover {
    filter: drop-shadow(8px 8px 10px #588d95e3);
}

.flex img {
    background-color: black;
    margin-top: 10px;
    width: 90%;
    max-width: 400px;
    align-items: center;
    height: 60%;
    border-radius: 10px;
}


.foot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 80px;
    width: 90%;
    margin: auto;
}

.flex a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.466);
}

.flex h3 {
    margin: 10px;
}

.flex p {
    width: 80%;
    margin: auto;
}

.flex i {
    color: black;
}



/***************************************************************/


/* contact me part */
/***************************************************************/

.contact {
    background-color: #071952;
    text-align: center;
    display: block;
    height: 1000px;
    padding-top: 100px;
}

.contact h1 {
    color: #EBF4F6;
    padding-bottom: 100px;
    font-size: 50px;
}
.input > * {
    margin: 30px auto;
}
.input input{
    display: block;
    padding: 25px;
    width: 700px;
    border-radius: 5px;
}

#message {
    padding-bottom: 50px;
}

.contact button {
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    background-color: #0b7181e0;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
}

.contact button:hover {
    background-color: #0b7181;
    cursor: pointer;
}

/**************************************************************************/


.footer {
    background-color: #EBF4F6;
    text-align: center;
    padding: 10px;
}

@media all and (max-width:1000px) {
    .navigation {
        display: none;
    }
    .menu_bar {
        display: block;
    }

    .img {
        order: -1;
    }

    .img img {
        width: 300px;
        height: 300px;
    }
    .home_page {
        flex-direction: column;
    }
    .home_page .left {
        width: 70%;
    }

    .home_page h1 {
        font-size: 25px;
    }

    .home_page span {
        font-size: 30px;
    }

    .about {
        flex-direction: column;
    }
    .about .text {
        width: 70%;
    }
    .projects {
        height: 2000px;
    }

    .projects h1 {
        padding-top: 50px;
    }

    .flex {
        flex-direction: column;
        padding-bottom: 100px;
    }
    .flex > * {
        width: 80%;
    }
    .input input{
        width: 80%;
        min-width: 300px;
    }

    .contact {
        padding-top: 50px;
    }

}