* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.task_bar {
    background-color: #31363F;
    color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.task_bar h1:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.navigation a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
}

.drop_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #31363F;
    width: 100%;
    display: none;
}

.drop_menu a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    width: 50%;
    text-align: center;
    margin: 15px;
}

.drop_menu > *:hover {
    background-color: rgba(240, 248, 255, 0.159);
    border-radius: 10px;
}

.menu_icon {
    display: none;
    position: relative;
    left: 8%;

}

.menu_icon button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #EEEEEE;
}

.menu_icon img {
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.menu_icon img:hover {
    opacity: 100%;
    cursor: pointer;
}

.navigation > *:hover {
    background-color: rgba(240, 248, 255, 0.159);
    border-radius: 10px;
}
/* content on main page */
/***************************************************************/

.home_page {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(114deg, #EEEEEE, #76ABAE);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.home_page .left {
    width: 50%;
    max-width: 700px;
    font-size: x-large;
    color: #222831;
}

.home_page .left > *{
    text-align: left;
    margin: 10px;   
}


.left span {
    font-size: 50px;
    color: #142661;
    font-weight: 800;
}

.talk {
    padding: 15px 50px 15px 50px;
    border-radius: 20px;
    border-color: rgba(240, 248, 255, 0);
    color: #EEEEEE;
    background-color: #76ABAE;
    position: relative;
    font-size: large;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.268));

}
.talk:hover {
    background-color: #669496;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.589));
    cursor: pointer;
}
/***************************************************************/


/* content on about page */
/***************************************************************/

.about {
    background: linear-gradient(110deg, #31363F, #EEEEEE);
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.about .text {
    width: 40%;
    margin: 20px;
    margin-bottom: 100px;
    font-size: x-large;
    color: #222831;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.268));
}

.text span {
    color: #3b5657;
}

.text p {
    margin-top: 40px;
    filter: none;
}


/***************************************************************/


/* floating up arrow */
/***************************************************************/

.arrow {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2%;
}

.arrow button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.arrow img {
    width: 25px;
    height: 30px;
    opacity: 30%;
}

.arrow img:hover {
    opacity: 90%;
    cursor: pointer;
} 


/***************************************************************/


/* profile img */
/***************************************************************/


.img img {
    width: 350px;
    height: 350px;
    border-radius: 40px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.589));
    margin-bottom: 100px;
}


/***************************************************************/

/* projects */
/***************************************************************/

.projects {
    background-color: #EEEEEE;
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.projects h1 {
    text-align: center;
    font-size: 4rem;
    color: #222831;
    filter: drop-shadow(10px 10px 20px #222831);

}

.flex { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex > * {
    background: linear-gradient(114deg, #76ABAE, #31363fa2);
    width: 28%;
    height: 500px;
    max-width: 400px;
    border-radius: 10px;
    color: #EBF4F6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex > *:hover {
    filter: drop-shadow(8px 8px 10px #76ABAE);
}

.flex img {
    margin-top: 10px;
    width: 90%;
    max-width: 400px;
    align-items: center;
    height: 60%;
    border-radius: 20px;
    opacity: 90%;
}


.foot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.flex a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.466);
}

.flex h3 {
    margin: 10px;
}

.flex p {
    width: 80%;
    margin: auto;
}

.flex i {
    color: black;
}



/***************************************************************/


/* contact me part */
/***************************************************************/

.contact {
    background-color: #222831;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    min-height: 700px;
}

.contact h1 {
    color: #EEEEEE;
    font-size: 50px;
}
.input > * {
    margin: 30px auto;
}
.input input{
    display: block;
    padding: 25px;
    width: 700px;
    border-radius: 5px;
}

#message {
    padding-bottom: 50px;
}

.contact button {
    width: 200px;
    padding: 10px;
    background-color: #76ABAE;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
}

.contact button:hover {
    background-color: #76abaecb;
    cursor: pointer;
}

/**************************************************************************/


.footer {
    background-color: #EEEEEE;
    text-align: center;
    padding: 10px;
}

@media all and (max-width:1000px) {
    .navigation {
        display: none;
    }
    .menu_icon {
        display: block;
    }

    .img {
        order: -1;
    }

    .img img {
        width: 300px;
        height: 300px;
    }
    .home_page {
        flex-direction: column;
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .home_page .left {
        width: 70%;
    }

    .home_page h1 {
        font-size: 25px;
    }

    .home_page span {
        font-size: 30px;
    }

    .about {
        flex-direction: column;
        height: auto;
        padding-top: 10%;
    }
    .about .text {
        width: 70%;
    }
    .projects {
        height: 1800px;
    }

    .projects h1 {
        font-size: 3rem;
    }

    .flex {
        flex-direction: column;
    }
    .flex > * {
        width: 80%;
    }
    .input input{
        width: 80%;
        min-width: 300px;
    }

    .contact {
        padding-top: 50px;
    }

}